<div style=" background: linear-gradient(#00cc99, white, white)">
  <div class='container'>
      <nav class="navbar navbar-light bg-light">
        <img src="" width="30" height="30" class="d-inline-block align-top" alt="">
        <h1>  InstaFood  </h1>
        <h6 style="text-align:right"><a href='/'>Need an Account?</a></h6>
      </nav>
      <hr />
    <div style="width: 50%; display: inline-block; margin-left:33%; margin-right:33%">
      <div class="col-xs-12 col-md-8" style="margin-top:20px; padding:0px 15px 20px 15px; border: 6px groove #1affc6; border-radius:10px;">
        <h3>Login</h3>
        <% if flash[:errors] %>
          <% flash[:errors].each do |error| %>
          <p>
            <%= error %>
          </p>
            <% end %>
        <% end %>
        <% if flash[:notice] %>
          <p style="color:green"> <%= flash[:notice] %>  </p>
        <% end %>
        <form method="post" action="/login">
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email" name='email'>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password" name='password' >
          </div>
          <button type="submit" class="btn btn-default">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
